In [1]:
import pandas as pd
import numpy as np

### 对operation_TRAIN数据分析

In [2]:
train_operation = pd.read_csv("../data/operation_TRAIN.csv")

In [3]:
train_operation.head(2)

,UID,day,mode,success,time,os,version,device1,device2,device_code1,device_code2,device_code3,mac1,mac2,ip1,ip2,wifi,geo_code,ip1_sub,ip2_sub
0,10035,30,c8741ce15ceac2a4,1.0,17:51:50,102,7.0.9,49dd36968dbfadda,OPPO R11,ecb58082e0e9b8e2,00fa2e4ba95605ef,NaN,NaN,a8dc52f65085212e,55dd8936655c86f6,NaN,NaN,wskx,e58e48fb9215116e,NaN
1,16264,16,20a91b45ef8f8221,1.0,08:36:00,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fc7fc47d6c93f554,NaN,NaN,NaN,3502c553ea2ac187

In [4]:
train_operation.shape

(424481, 20)

In [5]:
train_operation = train_operation.drop_duplicates(["UID"], keep="last")

In [6]:
train_operation.shape

(11979, 20)

### 对transaction_TRAIN数据分析

In [7]:
train_transaction = pd.read_csv("../data/transaction_TRAIN.csv")

In [8]:
train_transaction.head(2)

,UID,channel,day,time,trans_amt,amt_src1,merchant,code1,code2,trans_type1,...,ip1,bal,amt_src2,acc_id2,acc_id3,geo_code,trans_type2,market_code,market_type,ip1_sub
0,19092,102,30,11:48:47,1459,acdbdb842ac20f1e,abc6bc660561e0eb,NaN,NaN,26bcf43a19df14c8,...,a664530c1fb20abe,1007,9fefed0a981dcb7a,NaN,NaN,wsbq,102.0,2ecf94369847c748,1.0,45f4ca1f4e9b9cb7
1,13465,140,23,16:58:03,725,4d7831c6f695ab19,7a87b1aa20972d48,NaN,NaN,c2f2023d279665b2,...,52abe1e300a8aa10,100,NaN,NaN,NaN,wte7,105.0,NaN,NaN,2b416f1d7e89ad3b

In [9]:
train_transaction.shape

(161965, 27)

In [10]:
train_transaction = train_transaction.drop_duplicates(["UID"], keep="last")

In [11]:
train_transaction.shape

(13013, 27)

In [19]:
train = pd.merge(train_operation,train_transaction, on="UID", how="outer")

In [21]:
train.shape

(13422, 46)

In [22]:
tag_train = pd.read_csv("../data/tag_TRAIN.csv")

In [23]:
tag_train.shape

(13422, 2)

### 将训练集中的operation_TRAIN和transaction_TRAIN合并，并去重

In [2]:
import pandas as pd
import numpy as np

In [3]:
operation_TRAIN = pd.read_csv("../data/operation_TRAIN.csv")
transaction_TRAIN = pd.read_csv("../data/transaction_TRAIN.csv")

In [4]:
operation_TRAIN_dup = operation_TRAIN.drop_duplicates(["UID"], keep="last")

In [5]:
transaction_TRAIN_dup = transaction_TRAIN.drop_duplicates(["UID"], keep="last")

In [6]:
train_X = pd.merge(operation_TRAIN_dup, transaction_TRAIN_dup, on="UID", how="outer")

In [7]:
train_X.shape

(13422, 46)

In [8]:
tag_train = pd.read_csv("../data/tag_TRAIN.csv")

In [9]:
train = pd.merge(train_X, tag_train, on="UID", how="outer")

In [10]:
train.head(2)

,UID,day_x,mode,success,time_x,os,version,device1_x,device2_x,device_code1_x,...,bal,amt_src2,acc_id2,acc_id3,geo_code_y,trans_type2,market_code,market_type,ip1_sub_y,Tag
0,19923,20.0,bf79b3647c0878eb,1.0,11:09:53,102.0,7.0.9,d2cf44cec09806cc,VIVO X20A,cceec3b85966e235,...,100.0,NaN,NaN,NaN,ww03,105.0,NaN,NaN,d272ccd7577d0dda,0
1,20534,29.0,e806d126013b42d1,1.0,11:16:20,102.0,7.0.9,09baf2f39bc3dc86,PLE-703L,4e064bb19a0c0a64,...,100.0,9a8ee16bde15e38a,NaN,NaN,wr5c,105.0,NaN,NaN,616a079994b20717,0

### 将测试集中的operation_round1和transaction_round1合并，并去重

In [11]:
operation_round1 = pd.read_csv("../data/operation_round1.csv")
transaction_round1 = pd.read_csv("../data/transaction_round1.csv")

In [15]:
operation_round1_dup = operation_round1.drop_duplicates(["UID"], keep="last")

In [16]:
transaction_round1_dup = transaction_round1.drop_duplicates(["UID"], keep="last")

In [17]:
test_C = pd.merge(operation_round1_dup, transaction_round1_dup, on="UID", how="outer")

In [18]:
test_C.shape

(13434, 46)

In [23]:
test_C = test_C.sort_values("UID")

In [25]:
test_C.head(2)

,UID,day_x,mode,success,time_x,os,version,device1_x,device2_x,device_code1_x,...,ip1_y,bal,amt_src2,acc_id2,acc_id3,geo_code_y,trans_type2,market_code,market_type,ip1_sub_y
2435,30000,25.0,d25caee90b27fa9b,1.0,20:02:49,103.0,7.0.7,ce26b1cbdc4db90e,NaN,NaN,...,a172170f881898b9,100.0,9a8ee16bde15e38a,NaN,NaN,wmsy,105.0,NaN,NaN,02c53c843e93fcd4
1084,30001,21.0,c8741ce15ceac2a4,1.0,19:05:34,102.0,7.1.3,49dd36968dbfadda,OPPO A59M,19e2d1b6868609c8,...,NaN,100.0,NaN,NaN,NaN,NaN,103.0,NaN,NaN,NaN

In [29]:
train.to_csv("../data/train_C.csv", index=False)

In [33]:
time_x = train.time_x
time_x.head(5)

0    11:09:53
1    11:16:20
2    09:40:25
3    12:40:29
4    16:23:16
Name: time_x, dtype: object

In [54]:
operation_round1 = pd.read_csv("../data/operation_round1.csv")
transaction_round1 = pd.read_csv("../data/transaction_round1.csv")
operation_round1 = operation_round1.drop_duplicates(["UID"], keep="last")
transaction_round1 = transaction_round1.drop_duplicates(["UID"], keep="last")
test_C = pd.merge(operation_round1, transaction_round1, on="UID", how="inner")

In [52]:
test_C.shape

(13434, 46)

In [55]:
test_C["hour_x"] = test_C.time_x.apply(lambda  x: x.split(":")[0])
test_C["minutes_x"] = test_C.time_x.apply(lambda  x: x.split(":")[1])
test_C["hour_y"] = test_C.time_y.apply(lambda  x: x.split(":")[0])
test_C["minutes_y"] = test_C.time_y.apply(lambda  x: x.split(":")[1])

(9809, 50)

In [62]:
operation_TRAIN = pd.read_csv("../data/operation_TRAIN.csv")
transaction_TRAIN = pd.read_csv("../data/transaction_TRAIN.csv")
tag_TRAIN = pd.read_csv("../data/tag_TRAIN.csv")
operation_TRAIN = operation_TRAIN.drop_duplicates("UID", keep="last")
transaction_TRAIN = transaction_TRAIN.drop_duplicates("UID", keep="last")
train_X = pd.merge(operation_TRAIN, transaction_TRAIN, on="UID", how="outer")
train = pd.merge(train_X, tag_TRAIN, on="UID", how="left")

In [63]:
train_X.shape

(13422, 46)

In [50]:
def splitime(strtime, idx):
    
    hour, minutes = strtime.split(":")[0:2]
    caches = [hour, minutes]
    
    return caches[idx]

In [33]:
import pandas as pd
import numpy as np
import time

In [40]:
operation_TRAIN = pd.read_csv("../data/operation_TRAIN.csv")
transaction_TRAIN = pd.read_csv("../data/transaction_TRAIN.csv")
tag_TRAIN = pd.read_csv("../data/tag_TRAIN.csv")

In [41]:
operation_TRAIN = operation_TRAIN.drop_duplicates("UID", keep="last")
transaction_TRAIN = transaction_TRAIN.drop_duplicates("UID", keep="last")
train_X = pd.merge(operation_TRAIN, transaction_TRAIN, on="UID", how="inner")

In [42]:
train_X["hour_x"] = train_X.time_x.apply(lambda  x: x.split(":")[0])
train_X["minutes_x"] = train_X.time_x.apply(lambda  x: x.split(":")[1])
train_X["hour_y"] = train_X.time_y.apply(lambda  x: x.split(":")[0])
train_X["minutes_y"] = train_X.time_y.apply(lambda  x: x.split(":")[1])

In [43]:
train_X = train_X.drop(["time_x", "time_y"], axis=1)
train_X.shape

(11570, 48)

In [44]:
train = pd.merge(train_X, tag_TRAIN, on="UID", how="left")

In [45]:
train.shape

(11570, 49)

In [46]:
train.head(2)

,UID,day_x,mode,success,os,version,device1_x,device2_x,device_code1_x,device_code2_x,...,geo_code_y,trans_type2,market_code,market_type,ip1_sub_y,hour_x,minutes_x,hour_y,minutes_y,Tag
0,19923,20,bf79b3647c0878eb,1.0,102,7.0.9,d2cf44cec09806cc,VIVO X20A,cceec3b85966e235,d64aa4f53518dd2e,...,ww03,105.0,NaN,NaN,d272ccd7577d0dda,11,09,11,17,0
1,20534,29,e806d126013b42d1,1.0,102,7.0.9,09baf2f39bc3dc86,PLE-703L,4e064bb19a0c0a64,fd6d00daf66ccecd,...,wr5c,105.0,NaN,NaN,616a079994b20717,11,16,11,22,0

In [75]:
columns = train.columns

In [72]:
tags = ["Tag"]

In [77]:
cols = columns.drop(tags)

In [78]:
cols

Index(['UID', 'day_x', 'mode', 'success', 'time_x', 'os', 'version',
       'device1_x', 'device2_x', 'device_code1_x', 'device_code2_x',
       'device_code3_x', 'mac1_x', 'mac2', 'ip1_x', 'ip2', 'wifi',
       'geo_code_x', 'ip1_sub_x', 'ip2_sub', 'channel', 'day_y', 'time_y',
       'trans_amt', 'amt_src1', 'merchant', 'code1', 'code2', 'trans_type1',
       'acc_id1', 'device_code1_y', 'device_code2_y', 'device_code3_y',
       'device1_y', 'device2_y', 'mac1_y', 'ip1_y', 'bal', 'amt_src2',
       'acc_id2', 'acc_id3', 'geo_code_y', 'trans_type2', 'market_code',
       'market_type', 'ip1_sub_y'],
      dtype='object')

In [5]:
import time
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import lightgbm as lgb
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import log_loss
import gc
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc

In [6]:
def prepro():
    
    print("读取数据...")
    operation_TRAIN = pd.read_csv("../data/operation_TRAIN.csv")
    transaction_TRAIN = pd.read_csv("../data/transaction_TRAIN.csv")
    tag_TRAIN = pd.read_csv("../data/tag_TRAIN.csv")
    operation_TRAIN = operation_TRAIN.drop_duplicates("UID", keep="last")
    transaction_TRAIN = transaction_TRAIN.drop_duplicates("UID", keep="last")
    train_X = pd.merge(operation_TRAIN, transaction_TRAIN, on="UID", how="outer")
    train = pd.merge(train_X, tag_TRAIN, on="UID", how="left")
    train = train.sort_values("UID")
    
    operation_round1 = pd.read_csv("../data/operation_round1.csv")
    transaction_round1 = pd.read_csv("../data/transaction_round1.csv")
    operation_round1 = operation_round1.drop_duplicates(["UID"], keep="last")
    transaction_round1 = transaction_round1.drop_duplicates(["UID"], keep="last")
    test_C = pd.merge(operation_round1, transaction_round1, on="UID", how="outer")
    test_C = test_C.sort_values("UID")

    print("读取结束...")
    
    train.drop(["UID"], axis=1, inplace=True)
    test_C.drop(["UID"], axis=1, inplace=True)
    test_C["Tag"] = -1
    data = pd.concat([train, test_C])
    data = data.drop(["time_x", "time_y"], axis=1)
    data = data.fillna(-1)

    return data

In [7]:
def gbdt_lr_predict(data, dis_feature, con_feature):
    """离散特征one-hot"""
    print("开始one-hot...")
    for col in dis_feature:
        onehot_feats = pd.get_dummies(data[col], prefix=col)
        data.drop([col], axis=1, inplace=True)
        data = pd.concat([data, onehot_feats], axis=1)
    print("one-hot结束")
    
    train = data[data["Tag"] != -1]
    target = train.pop("Tag")
    test = data[data["Tag"] == -1]
    test.drop(["Tag"], axis=1, inplace=True)
    
    print("划分数据集...")
    x_train, x_val, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=2018)
    
    print("开始训练gbdt...")
    gbm = lgb.LGBMRegressor(objective="binary",
                            subsample=0.8,
                            min_child_weight=0.2,
                            colsample_bytree=0.8,
                            num_leaves=100,
                            max_depth=20,
                            learning_rate=0.01,
                            n_estimators=200,
                            n_jobs=-1)
    gbm.fit(x_train, y_train, 
            eval_set=[(x_train, y_train), (x_val, y_val)],
            eval_names=["train", "val"],
            eval_metric="binary_logloss")
    model = gbm.booster_
    print("训练得到叶子数...")
    gbdt_feats_train = model.predict(train, pred_leaf=True)
    gbdt_feats_test = model.predict(test, pred_leaf=True)
    gbdt_feats_name = ["gbdt_leaf_" + str(i) for i in range(gbdt_feats_train.shape[1])]
    df_train_gbdt_feats = pd.DataFrame(gbdt_feats_train, columns=gbdt_feats_name)
    df_test_gbdt_feats = pd.DataFrame(gbdt_feats_test, columns=gbdt_feats_name)

    
    print("构造新的数据集...")
    train = pd.concat([train, df_train_gbdt_feats], axis=1)
    test = pd.concat([test, df_test_gbdt_feats], axis=1)
    train_len = train.shape[0]
    data = pd.concat([train, test])
    del train
    del test
    gc.collect()
    
    
    """连续特征归一化"""
    print("开始归一化...")
    scaler = MinMaxScaler()
    for col in con_feature:
        data[col] = scaler.fit_transform(data[col].values.reshape(-1, 1))
    print("归一化结束")
    
    """叶子数One-Hot"""
    print("开始one-hot...")
    for col in gbdt_feats_name:
        print("this is feature:", col)
        onehot_feats = pd.get_dummies(data[col], prefix=col)
        data.drop([col], axis=1, inplace=True)
        data = pd.concat([data, onehot_feats], axis=1)
    print("one-hot结束")
    
    train = data[ :train_len]
    test = data[train_len: ]
    del data
    gc.collect()
    
    x_train, x_val, y_train, y_val = train_test_split(train, target, test_size=0.3, random_state=2018)
    print("开始训练lr...")
    lr = LogisticRegression()
    lr.fit(x_train, y_train)
    tr_logloss = log_loss(y_train, lr.predict_proba(x_train)[:, 1])
    print("tr-logloss:", tr_logloss)
    val_logloss = log_loss(y_val, lr.predict_proba(x_val)[:, 1])
    print("val-logloss:", val_logloss)
    
    
    fpr, tpr, threshold = roc_curve(y_val, lr.predict_proba(x_val)[:, 1])
    roc_auc = auc(fpr, tpr)
    lw = 2
    plt.plot(fpr, tpr, color="darkorange", lw=lw, label="ROC curve (area = %0.5f)" % roc_auc)
    plt.plot([0, 1], [0, 1], color="navy", lw=lw, linestyle="--")  
    plt.xlim([0.0, 1.0])  
    plt.ylim([0.0, 1.05])  
    plt.xlabel("False Positive Rate")  
    plt.ylabel("True Positive Rate")  
    plt.title( "gbdt_lr"+ "ROC")  
    plt.legend(loc="lower right")
    plt.show()
    
    
    
    
    print("开始预测...")
    y_pred = lr.predict_proba(test)[:, 1]
    print("写入结果...")
    submission = pd.DataFrame({"UID": test.UID, "Tag": y_pred})
    submission.to_csv("./submission/submission_gbdt+lr_trlogloss_%s_vallogloss_%s.csv" % (tr_logloss, val_logloss), index=False)
    print("结束")

In [ ]:
if __name__ == "__main__":
    print("time start:\n")
    print(time.clock() / 60)
    
    data = prepro()
    feature = data.columns.drop("Tag")
    col_feature = ["day_x", "day_y", "bal", "trans_amt"]
    dis_feature = feature.drop(col_feature)
    gbdt_lr_predict(data, dis_feature, col_feature)

    print('time end')
    print(time.clock()/60)

In [9]:
import warnings
from sklearn import preprocessing
warnings.filterwarnings("ignore")
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import train_test_split
import xgboost as xgb
from datetime import datetime

In [10]:
operation_TRAIN = pd.read_csv("../data/operation_TRAIN.csv")
transaction_TRAIN = pd.read_csv("../data/transaction_TRAIN.csv")
tag_TRAIN = pd.read_csv("../data/tag_TRAIN.csv")
operation_TRAIN = operation_TRAIN.drop_duplicates("UID", keep="last")
transaction_TRAIN = transaction_TRAIN.drop_duplicates("UID", keep="last")
train_X = pd.merge(operation_TRAIN, transaction_TRAIN, on="UID", how="outer")
train = pd.merge(train_X, tag_TRAIN, on="UID", how="left")
train = train.sort_values("UID")
train = train.drop(["time_x", "time_y"], axis=1)

operation_round1 = pd.read_csv("../data/operation_round1.csv")
transaction_round1 = pd.read_csv("../data/transaction_round1.csv")
operation_round1 = operation_round1.drop_duplicates(["UID"], keep="last")
transaction_round1 = transaction_round1.drop_duplicates(["UID"], keep="last")
test_C = pd.merge(operation_round1, transaction_round1, on="UID", how="outer")
test_C = test_C.sort_values("UID")
test_C = test_C.drop(["time_x", "time_y"], axis=1)

test_C["Tag"] = -1
data = pd.concat([train, test_C])

In [17]:
test_C.shape

(13434, 45)

In [30]:
feature = data.columns.drop(["UID", "Tag"])
col_feat = ["day_x", "day_y", "bal", "trans_amt"]
dis_feat = feature.drop(col_feat)

In [36]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(data[dis_feat])
data = pd.concat([data, pd.DataFrame(enc.transform(data[dis_feat]).toarray())], axis=1)

KeyError: "Index(['mode', 'success', 'os', 'version', 'device1_x', 'device2_x',\n       'device_code1_x', 'device_code2_x', 'device_code3_x', 'mac1_x', 'mac2',\n       'ip1_x', 'ip2', 'wifi', 'geo_code_x', 'ip1_sub_x', 'ip2_sub', 'channel',\n       'amt_src1', 'merchant', 'code1', 'code2', 'trans_type1', 'acc_id1',\n       'device_code1_y', 'device_code2_y', 'device_code3_y', 'device1_y',\n       'device2_y', 'mac1_y', 'ip1_y', 'amt_src2', 'acc_id2', 'acc_id3',\n       'geo_code_y', 'trans_type2', 'market_code', 'market_type', 'ip1_sub_y'],\n      dtype='object') not in index"

In [32]:
data.head(2)

,UID,day_x,mode,success,os,version,device1_x,device2_x,device_code1_x,device_code2_x,...,bal,amt_src2,acc_id2,acc_id3,geo_code_y,trans_type2,market_code,market_type,ip1_sub_y,Tag
9064,10000,13.0,52,1,2,16,996,397,14568,14139,...,100.0,59,2584,2614,2,3,259,2301,1354,1
11787,10001,7.0,48,1,1,11,64,341,13074,1388,...,72118.0,60,2584,2614,1709,0,259,16226,1462,0